* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Roboto", sans-serif;
  }
 
#navbar {
    border: 2px black solid;    
    position: sticky;
    
}

nav {
  padding-left: 10px;
  background-color: rgba(51, 153, 255, 0.6);
  min-height: 8vh;
  position: sticky;
  display: flex;
  
  
}


.nav-elem{
  list-style: none;
  display: inline-flex;
 
}

.na{
  display: flex;
  min-height: 8vh;
  width: 200px;
  align-items: center;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  justify-content: center;
  
}

.na:hover{
  background-color:  rgba(51, 153, 255, 0.7);
  border: blue, solid;
}


article {
  padding-bottom: 10px;
  border-bottom: solid;
  margin-left: 10px;
  margin-right: 10px;
}

.main_headline {
  font-size: 36px;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.blue_btng{
  background-color: blue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px #d8d8d8 solid;
}

tr:nth-child(even) {
  background-color: #bfbfbf;
}

th {
  border-bottom: 2px solid #ddd;
}

td, th {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
}

td{
  font-size: 14px;
}

#r_table{
  margin-top: 10px;
  margin-bottom: 20px;
}
#commit{
  margin-top: 10px;
}

.blue_btng:hover{
  cursor: pointer;
  box-shadow: grey;
}