* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Roboto", sans-serif;
  }
 

#navbar {
    border: 2px black solid;    
    position: sticky;
    
}

nav {
  padding-left: 10px;
  background-color: rgba(51, 153, 255, 0.6);
  min-height: 8vh;
  position: sticky;
  display: flex;
  
  
}

article{
  justify-content: center;
}

#introduction{
  border: 1px blue solid;
}

.intro{
  display: inline-block;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: flex;
  border: 1px black solid;
  width: 40%;
  height: 100px;
  
}

.intro_img{
  display: inline-block;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: flex;
  height: 514px;
  width: 40%;
  border: 1px black solid;
  
}

.intr_left{
  margin-left: 8%;
}

.intr_right{
  margin-right: 8%;
}

.nav-elem{
  list-style: none;
  display: inline-flex;
 
}

.na{
  display: flex;
  min-height: 8vh;
  width: 200px;
  align-items: center;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  justify-content: center;
  
}

.na:hover{
  background-color:  rgba(51, 153, 255, 0.7);
  border: blue, solid;
}


article {
  padding-bottom: 10px;
  border-bottom: solid;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;

}

.main_headline {
  font-size: 36px;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.blue_btng{
  background-color: blue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px #d8d8d8 solid;
}

tr:nth-child(even) {
  background-color: #bfbfbf;
}

th {
  border-bottom: 2px solid #ddd;
}

td, th {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
}

td{
  font-size: 14px;
}

.table{
  margin-top: 10px;
  margin-bottom: 20px;
}
#commit{
  margin-top: 10px;
  border: 1px solid;
  
}

.blue_btng:hover{
  cursor: pointer;
  box-shadow: grey;
  display: block;
  margin-top: 10px;
}

.block_input{
  border: 1px solid;
  display: block;
}


.schedule_card{
  position: fixed;
  display: None;
  background-color: rgb(102, 153, 255, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.schedule{
  display: block;
  padding: 25px;
}

.close{
  width: 25px;
  height: 25px;

}

.close:hover{
  cursor: pointer;
}

#run_button{
  margin: 10px;
}


.table_select{
  border: 1px solid;
}

.dia{
  width: 100%;
  height: 500px;
}