{% load static %}
<!DOCTYPE html>
<head>
    <meta name="author" content="Martin Lelis, Robert Rathmann" />
    <title>Practical_Work</title>
    <link href="{% static 'sa/layout.css' %}" type="text/css" rel="stylesheet" />
</head>
<html>
<body>
    <header id="navbar">
        <nav>
            <ul id="nav_ul">
                <li class="nav-elem">
                    <a class="na" href="sa">Parctical Work</a>
                </li>
                <li class="nav-elem">
                    <a  class="na" href="run">Run</a>
                </li>
                <li class="nav-elem">
                    <a class="na" href="results">Results</a>
                </li>
            </ul>
        </nav>
    </header>
    <article>
        <h1 class="main_headline">
            Practical Work
        </h1>
        <section id="introduction">
            <div class="intro intr_left">
                <h4>
                    Approach: Simmulated Annealing
                </h4>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="intro intr_right">
                <h3>
                    Why?
                </h3>
                <br>
                <p> -Easy to implement </p>
                <p> -Escape local optima</p>
                <p> -Always returns a valid solution</p>
            </div>
            <div class="intro_img intr_left ">
                <h3>
                    Neighbour code:
                </h3>
                <img class="dia" src="static/images/intro_images/neighbour.png">
            </div>
            <div class="intro_img intr_right">
                <h3>
                    SA code:
                </h3>
                <img class="dia" src="static/images/intro_images/sa_code.png">
            </div>
            <div class="intro_img intr_left">
                <h3>
                    Representation:
                </h3>
                <img id="rep" class="dia" src="static/images/intro_images/representation.png">
            </div>
            <div class="intro_img intr_right">
                <h3>
                    Neighbour: Change two instances of one Machine
                </h3>
                <img class="dia" src="static/images/intro_images/nbh.jpg">
            </div>
        </section>
        
    </article>
    <footer>
        <p class="f_left">
            Author:
            Martin Lelis and Robert Rathmann
        </p>
        <p class="f_right">
            Date: 07.06.2020
        </p>
    </footer>
</body>
</html>