{% load static %}
<!DOCTYPE html>
<head>
    <meta name="author" content="Martin Lelis, Robert Rathmann" />
    <title>Practical_Work</title>
    <link href="{% static 'sa/layout.css' %}" type="text/css" rel="stylesheet" />
</head>
<html>
<body>
    <header id="navbar">
        <nav>
            <ul id="nav_ul">
                <li class="nav-elem">
                    <a class="na" href="sa">Parctical Work</a>
                </li>
                <li class="nav-elem">
                    <a  class="na" href="run">Run</a>
                </li>
                <li class="nav-elem">
                    <a class="na" href="results">Results</a>
                </li>
            </ul>
        </nav>
    </header>
    <article>
        <h1 class="main_headline">
            Practical Work
        </h1>
        <section id="introduction">
            <p class="intro">
                Approach: Simmulated Annealing
            </p>
            <p class="intro">
                Why?
            </p>
            <p class="intro">
                Neighbour: change two instances of one Machine
            </p>
        </section>
        
    </article>
    <footer>
        <p class="f_left">
            Author:
            Martin Lelis and Robert Rathmann
        </p>
        <p class="f_right">
            Date: 07.06.2020
        </p>
    </footer>
</body>
</html>