{% load static %}
<!DOCTYPE html>
<head>
    <meta name="author" content="Martin Lelis, Robert Rathmann" />
    <title>Practical_Work_Run</title>
    <link href="{% static 'sa/layout.css' %}" type="text/css" rel="stylesheet" />
</head>
<html>
<body>
    <header id="navbar">
        <nav>
            <ul id="nav_ul">
                <li class="nav-elem">
                    <a class="na" href="sa">Parctical Work</a>
                </li>
		        <li class="nav-elem">
                    <a  class="na" href="test">Test</a>
                </li>
                <li class="nav-elem">
                    <a  class="na" href="run">Run</a>
                </li>
                <li class="nav-elem">
                    <a class="na" href="results">Results</a>
                </li>
            </ul>
        </nav>
    </header>
    <article>
        <h1 class="main_headline">
            Run
        </h1>
        <labe>Table</labe>
        <div id="r_table" class="table">
            <select id="slected_table" class="table_select">
                {% for table in tables %}
                    <option value={{table.id}} class="table_change">
                        {{ table.name }}
                    </option>                   
                {% endfor %}
            </select>
        </div>
        <div class="schedule_card" id="new_image_schedule">
            <button class="close" id="new_schedule_close">
                <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
            </button>
            <img class="schedule" id="new_schedule">
            <p id="time"></p>
            <p id="runtime"></p>
        </div>
        <div id="commit">
            <div id="run_button">
                <button class="blue_btng"  type="button" id="rsa_f">Run</button>
            </div>  
        </div>
        <div id="render_table">
            {% include "html/table.html" %}
        </div>
    </article>
    <footer>
        <p class="f_left">
            Author:
            Martin Lelis and Robert Rathmann
        </p>
        <p class="f_right">
            Date: 07.06.2020
        </p>
    </footer>
</body>
    <script src="{% static 'sa/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'sa/run.js' %}"></script>
</html>